.Navbar {
    display: flex;
    justify-content: space-between;
    margin: 1rem;
    padding-top: 30px;
    padding-bottom: 10px;
  }
  
  .Navbar ul li {
    list-style-type: none;
    display: inline;
    margin-left: 50px;
    margin-right: 50px;
  }